<div class="container">
  <!-- Fixed navbar -->
  <!-- <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll" [ngClass]="router.url == '/dashboard' ? 'dashboard': 'white'"> -->
    <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll" [ngClass]="{'dashboard-route': router.url == '/dashboard', 'blog-route': router.url == '/blog', 'profile-route': router.url == '/profile'}">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" routerLink="/">AD-tm</a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
      <!-- <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Home</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="authService.loggedIn()" routerLink="/blog">Blog</a></li>
        <li><a *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" routerLink="/login">Log in</a></li>
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register">Sign up</a></li>

        <li class="dropdown">
          <a href="#" *ngIf="authService.loggedIn()" class="dropdown-toggle" data-toggle="dropdown">Profile
            <b class="caret"></b>
          </a>
          <ul *ngIf="authService.loggedIn()" class="dropdown-menu dropdown-menu-right">
            <li><a *ngIf="authService.loggedIn()" routerLink="/profile">Profile</a></li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/dashboard">Dashboard</a></li>
            <li><a *ngIf="authService.loggedIn()" href="#" (click)="onLogoutClick()">Log out</a></li>
          </ul>
        </li>

      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

</div>